{% extends "layout.html" %}
{% block breadcrumb_items %}
  {{ super() }}
  {% for url, v in g.breadcrumb[:-1] %}
    <li class="breadcrumb-item"><a href="{{ url }}">{{ v }}</a></li>
  {% endfor %}
  <li class="breadcrumb-item active">
    {{ g.breadcrumb[-1][1] }}
  </li>
{% endblock %}

{% block body %}
  {% if session.logged_in %}
    <div class="card col-lg-6">
      <div class="card-body">
        <form action="{{ url_for('add_comment') }}" method=post>
          <div class="form-row">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon" id="book-addon">
                  <i class="fa fa-book" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" name="book"
                       placeholder="Book" id="book-input"
                       aria-describedby="book-addon"/>
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon" id="chapter-addon">
                  <i class="fa fa-hashtag" aria-hidden="true"></i>
                </span>
                <input type="number" class="form-control" name="chapter"
                       placeholder="Chapter" id="chapter-input"
                       aria-describedby="chapter-addon">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon" id="verse-addon">
                  <i class="fa fa-hashtag" aria-hidden="true"></i>
                </span>
                <input type="number" class="form-control" name="verse"
                       placeholder="Verse" id="verse-input"
                       aria-describedby="verse-addon">
              </div>
            </div>
          </div>

          <br/>

          <div class="form-row">
            <div class="col">
              <textarea name="text" rows="1" class="form-control"
                        id="comment-input"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary">Share</button>
          </div>
        </form>
      </div>
    </div>
    <hr />
  {% endif %}

  {% if g.verses %}
    <div class="card">
      <div class="card-body">
        {% for v in g.verses %}
          <div class="row">
            <div class="col col-lg-9">
              {% if session.logged_in %}
                <a class="btn btn-link" href="#"
                   onclick="$('#book-input').val('{{ v.book }}');$('#chapter-input').val('{{ v.chapter+1 }}');$('#verse-input').val('{{ v.verse+1 }}');$('#comment-input').focus();">
                  <i class="fa fa-comment-o" aria-hidden="true"></i>
                </a>
              {% endif %}
              [{{ v.chapter+1 }}:{{ v.verse+1 }}] {{ v.text|safe }}
            </div>
          </div>

          {% if comments %}
          {% if comments[(v.book,v.chapter,v.verse)] %}
            <div style="margin:10px">
              <div class="row">
                <div class="col-1"></div>
                <div class="col"><h6>Comments:</h6></div>
              </div>
              
              {% for comment in comments[(v.book,v.chapter,v.verse)] %}
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col">{{ comment.text }}</div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}

        
          
              
